@model IEnumerable<Practica_MVC.Models.EmpleadoCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario_por_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salario_por_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
    </tr>
}

</table>
